.container-fluid,.container{
     margin:40px;
	
}
.col-sm-5,.col-sm-7{
     padding-right: 0; 
     padding-left: 0;  
	 
}
.row{
	padding-right:40px;
}
.center-block {
    margin-left: auto;
	margin-right: auto;
}
.heading{
	text-align:center;
	padding-top:20px;
	font-family:'Nunito';
	text-decoration:underline;	
}
.description{
	padding:30px;
	padding-top:20px;
	font-family:'Nunito';
}
.footer{
	padding:30px;
	padding-top:0px;
	font-family:'Nunito';
}
a:link,a:visited{
	color:orange;
	outline:none!important
}
.modal-title{
	color:green;
	text-decoration:underline;
	padding-left:28px;
}
.desc{
	padding-left:28px;
}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
.col-sm-3{
	display:none;
}
.close{
	outline:none!important
}